Gift_Cards/Service References/GuestService/GuestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://party.service.externalUI.foundation.rccl.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://vo.externalUI.foundation.rccl.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://party.service.externalUI.foundation.rccl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://party.service.externalUI.foundation.rccl.com">
      <xsd:element name="disposeSession">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="disposeSessionResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getGuestsForSailing">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="searchParams" nillable="true" type="ns1:GuestSearchCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getGuestsForSailingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GuestView" nillable="true" type="ns1:ArrayOfGuestView" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSession">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="searchParams" nillable="true" type="ns1:GuestSearchCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSessionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GuestViewSessionPage" nillable="true" type="ns1:GuestViewSessionPage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getGuestCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="searchParams" nillable="true" type="ns1:GuestSearchCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getGuestCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSessionPage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="startIndex" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="maxCount" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSessionPageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GuestViewSessionPage" nillable="true" type="ns1:GuestViewSessionPage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.externalUI.foundation.rccl.com">
      <xsd:complexType name="GuestSearchCriteria">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cruiseBookingId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="extraProperties" nillable="true" type="ns1:ArrayOfNameValuePair" />
          <xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="folioNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="groupId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestPhotoSize" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="includeGuestPhoto" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="lastUpdateDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="sailDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="shipCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="stateroomNumber" type="xsd:int" />
          <xsd:element minOccurs="0" name="vacationId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfNameValuePair">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="NameValuePair" nillable="true" type="ns1:NameValuePair" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NameValuePair">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGuestView">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="GuestView" nillable="true" type="ns1:GuestView" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GuestView">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MI" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="activeFolio" nillable="true" type="ns1:FolioView" />
          <xsd:element minOccurs="0" name="activeSeapassBarcode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="age" type="xsd:int" />
          <xsd:element minOccurs="0" name="ageGroup" type="xsd:int" />
          <xsd:element minOccurs="0" name="allowCharge" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="birthday" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="cruiseBookingId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="cruiseCount" type="xsd:int" />
          <xsd:element minOccurs="0" name="debarkationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="deck" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="dining" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="diningTableSize" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="diningWaitList" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="embarkationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="embarkationStatus" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="extraProperties" nillable="true" type="ns1:ArrayOfNameValuePair" />
          <xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="folioNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="folios" nillable="true" type="ns1:ArrayOfFolioView" />
          <xsd:element minOccurs="0" name="gateway" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="gender" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="groupId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestSequenceNumber" type="xsd:long" />
          <xsd:element minOccurs="0" name="lastChangeDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="loyaltyLevel" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="loyaltyNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="nationality" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="passportExpirationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="passportNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="photoAvailable" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="photoData" nillable="true" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="photoMimeType" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="photoURL" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="primaryLanguage" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="sailDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="salutation" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="seapassBarcodes" nillable="true" type="tns:ArrayOfString" />
          <xsd:element minOccurs="0" name="sect" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="smoker" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="stateroomNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="vip" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="wheelechair" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFolioView">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FolioView" nillable="true" type="ns1:FolioView" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FolioView">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="allowCharge" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="barcode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="currentFolio" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="deck" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="effectiveDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="folioId" type="xsd:int" />
          <xsd:element minOccurs="0" name="folioNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="guestId" type="xsd:long" />
          <xsd:element minOccurs="0" name="guestSequenceNumber" type="xsd:long" />
          <xsd:element minOccurs="0" name="ownerFacilityCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="photoExists" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="sect" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="stateroomNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="targetCriteriaKey" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GuestViewSessionPage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="guestCount" type="xsd:int" />
          <xsd:element minOccurs="0" name="guests" nillable="true" type="ns1:ArrayOfGuestView" />
          <xsd:element minOccurs="0" name="maxLastChangeDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="pageCount" type="xsd:int" />
          <xsd:element minOccurs="0" name="sessionId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getGuestCountResponse">
    <wsdl:part name="parameters" element="tns:getGuestCountResponse" />
  </wsdl:message>
  <wsdl:message name="disposeSessionResponse">
    <wsdl:part name="parameters" element="tns:disposeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="disposeSessionRequest">
    <wsdl:part name="parameters" element="tns:disposeSession" />
  </wsdl:message>
  <wsdl:message name="getGuestsForSailingResponse">
    <wsdl:part name="parameters" element="tns:getGuestsForSailingResponse" />
  </wsdl:message>
  <wsdl:message name="createSessionResponse">
    <wsdl:part name="parameters" element="tns:createSessionResponse" />
  </wsdl:message>
  <wsdl:message name="createSessionRequest">
    <wsdl:part name="parameters" element="tns:createSession" />
  </wsdl:message>
  <wsdl:message name="getGuestsForSailingRequest">
    <wsdl:part name="parameters" element="tns:getGuestsForSailing" />
  </wsdl:message>
  <wsdl:message name="getSessionPageResponse">
    <wsdl:part name="parameters" element="tns:getSessionPageResponse" />
  </wsdl:message>
  <wsdl:message name="getSessionPageRequest">
    <wsdl:part name="parameters" element="tns:getSessionPage" />
  </wsdl:message>
  <wsdl:message name="getGuestCountRequest">
    <wsdl:part name="parameters" element="tns:getGuestCount" />
  </wsdl:message>
  <wsdl:portType name="GuestServicePortType">
    <wsdl:operation name="disposeSession">
      <wsdl:input name="disposeSessionRequest" message="tns:disposeSessionRequest" />
      <wsdl:output name="disposeSessionResponse" message="tns:disposeSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGuestsForSailing">
      <wsdl:input name="getGuestsForSailingRequest" message="tns:getGuestsForSailingRequest" />
      <wsdl:output name="getGuestsForSailingResponse" message="tns:getGuestsForSailingResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSession">
      <wsdl:input name="createSessionRequest" message="tns:createSessionRequest" />
      <wsdl:output name="createSessionResponse" message="tns:createSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGuestCount">
      <wsdl:input name="getGuestCountRequest" message="tns:getGuestCountRequest" />
      <wsdl:output name="getGuestCountResponse" message="tns:getGuestCountResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSessionPage">
      <wsdl:input name="getSessionPageRequest" message="tns:getSessionPageRequest" />
      <wsdl:output name="getSessionPageResponse" message="tns:getSessionPageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GuestServiceHttpBinding" type="tns:GuestServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="disposeSession">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="disposeSessionRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="disposeSessionResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGuestsForSailing">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getGuestsForSailingRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGuestsForSailingResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSession">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createSessionRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createSessionResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGuestCount">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getGuestCountRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGuestCountResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionPage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSessionPageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSessionPageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GuestService">
    <wsdl:port name="GuestServiceHttpPort" binding="tns:GuestServiceHttpBinding">
      <wsdlsoap:address location="http://tst4wasr.mf.tstsh.tstrccl.com:13040/efcweb/services/ws/GuestService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>