Gift_Cards/Service References/VoyageService/VoyageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://voyage.service.externalUI.foundation.rccl.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://vo.externalUI.foundation.rccl.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://voyage.service.externalUI.foundation.rccl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://voyage.service.externalUI.foundation.rccl.com">
      <xsd:element name="getCurrentVoyage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="shipCode" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCurrentVoyageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="VoyageView" nillable="true" type="ns1:VoyageView" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecentVoyages">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="shipCode" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecentVoyagesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="VoyageView" nillable="true" type="ns1:ArrayOfVoyageView" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getVoyage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="shipCode" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="sailDate" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getVoyageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="VoyageView" nillable="true" type="ns1:VoyageView" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getVoyageNumber">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="voyageNumber" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getVoyageNumberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="VoyageView" nillable="true" type="ns1:VoyageView" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.externalUI.foundation.rccl.com">
      <xsd:complexType name="VoyageView">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="active" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="brandCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="colorCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="dispatchCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="itineraryCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="itineraryEffectiveDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="itineraryView" nillable="true" type="ns1:ItineraryView" />
          <xsd:element minOccurs="0" name="numberOfDays" type="xsd:int" />
          <xsd:element minOccurs="0" name="pmsVoyageId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="regionCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="shipCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipCurrency" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="startDateInt" type="xsd:int" />
          <xsd:element minOccurs="0" name="subRegionCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="voyageNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItineraryView">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="itineraryCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="stops" nillable="true" type="ns1:ArrayOfItineraryStopView" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfItineraryStopView">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ItineraryStopView" nillable="true" type="ns1:ItineraryStopView" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItineraryStopView">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arrivalDateTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="arrivalDayNumber" type="xsd:int" />
          <xsd:element minOccurs="0" name="arrivalTime" type="xsd:long" />
          <xsd:element minOccurs="0" name="debarkationTime" type="xsd:long" />
          <xsd:element minOccurs="0" name="departureDateTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="departureDayNumber" type="xsd:int" />
          <xsd:element minOccurs="0" name="departureTime" type="xsd:long" />
          <xsd:element minOccurs="0" name="embarkationTime" type="xsd:long" />
          <xsd:element minOccurs="0" name="location" nillable="true" type="ns1:LocationView" />
          <xsd:element minOccurs="0" name="tethered" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LocationView">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="locationType" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfVoyageView">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="VoyageView" nillable="true" type="ns1:VoyageView" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getVoyageNumberResponse">
    <wsdl:part name="parameters" element="tns:getVoyageNumberResponse" />
  </wsdl:message>
  <wsdl:message name="getCurrentVoyageRequest">
    <wsdl:part name="parameters" element="tns:getCurrentVoyage" />
  </wsdl:message>
  <wsdl:message name="getRecentVoyagesRequest">
    <wsdl:part name="parameters" element="tns:getRecentVoyages" />
  </wsdl:message>
  <wsdl:message name="getVoyageRequest">
    <wsdl:part name="parameters" element="tns:getVoyage" />
  </wsdl:message>
  <wsdl:message name="getVoyageResponse">
    <wsdl:part name="parameters" element="tns:getVoyageResponse" />
  </wsdl:message>
  <wsdl:message name="getRecentVoyagesResponse">
    <wsdl:part name="parameters" element="tns:getRecentVoyagesResponse" />
  </wsdl:message>
  <wsdl:message name="getCurrentVoyageResponse">
    <wsdl:part name="parameters" element="tns:getCurrentVoyageResponse" />
  </wsdl:message>
  <wsdl:message name="getVoyageNumberRequest">
    <wsdl:part name="parameters" element="tns:getVoyageNumber" />
  </wsdl:message>
  <wsdl:portType name="VoyageServicePortType">
    <wsdl:operation name="getCurrentVoyage">
      <wsdl:input name="getCurrentVoyageRequest" message="tns:getCurrentVoyageRequest" />
      <wsdl:output name="getCurrentVoyageResponse" message="tns:getCurrentVoyageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRecentVoyages">
      <wsdl:input name="getRecentVoyagesRequest" message="tns:getRecentVoyagesRequest" />
      <wsdl:output name="getRecentVoyagesResponse" message="tns:getRecentVoyagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVoyage">
      <wsdl:input name="getVoyageRequest" message="tns:getVoyageRequest" />
      <wsdl:output name="getVoyageResponse" message="tns:getVoyageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVoyageNumber">
      <wsdl:input name="getVoyageNumberRequest" message="tns:getVoyageNumberRequest" />
      <wsdl:output name="getVoyageNumberResponse" message="tns:getVoyageNumberResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VoyageServiceHttpBinding" type="tns:VoyageServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCurrentVoyage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCurrentVoyageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCurrentVoyageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecentVoyages">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRecentVoyagesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRecentVoyagesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVoyage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getVoyageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVoyageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVoyageNumber">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getVoyageNumberRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVoyageNumberResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VoyageService">
    <wsdl:port name="VoyageServiceHttpPort" binding="tns:VoyageServiceHttpBinding">
      <wsdlsoap:address location="http://tst4wasr.mf.tstsh.tstrccl.com:13040/efcweb/services/ws/VoyageService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>